<%- include('partials/head') %> <%- include('partials/header') %>

<div class="container my-5">
  <div class="row mb-4 align-items-center">
    <div class="col-md-8">
      <h1 class="display-5 fw-bold">Find Your Community</h1>
      <p class="fs-5 text-body-secondary">
        Share recipes and tips with cooks just like you.
      </p>

      <a href="/communities/create" class="btn btn-custom shadow-sm mb-3">
        <i class="bi bi-plus-circle-fill me-2"></i>Create a Community
      </a>
    </div>
    <div class="col-md-4">
      <form class="input-group" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Search communities..."
          aria-label="Search communities"
          id="community-search" />
      </form>
    </div>
  </div>

  <div
    class="row row-cols-1 row-cols-md-2 g-4"
    id="community-card-container"></div>
</div>
<script type="module" src="/js/community.js"></script>
<%- include('partials/navbar', {active: 'community'}) %> <%-
include('partials/footer') %> <%- include('partials/scripts') %>
